.container {
    background-color: var(--color-base-white);
    display: grid;
    grid-gap: 19px 12px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin: auto;
    padding: 30px;
    width: 90%;
}