.content {
    max-width: var(--width-max-desktop);
    margin: auto;

}
.container {
    background-color: var(--color-base-white);
    display: grid;
    grid-gap: 19px 12px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    height: 100%;
}