.warper_form { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.container_form {
    overflow-y: auto;
    line-height: 1.15;
    font-size: 16px;
    overflow-y: auto;
    height: 100%;
    padding: 16px 0px;
}

.bottom_actions {
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #fff;
    border-top: 2px solid #f5f0eb;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 20px;
    height: 85px;
    width: 100%;
}

.header-action {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    gap: var(--spacing-xs);
}