.main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  width: 100%;
  height: 100%;
}

.main__card {
  align-items: center;
  background-color: var(--color-base-white);
  border-radius: 8px;
  border: 1px solid var(--color-neutral-gray-silver);
  box-shadow: var(--box-shadow-2xs);
  cursor: pointer;
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100%;
  padding: 20px;
  position: relative;
  transition: all 0.5s ease;
  width: 100%;
}

.main__user-email {
  display: flex;
  gap: 4px;
  overflow: hidden;
}

.image_profile {
  border-radius: 9999px;
  width: 3.25rem;
  min-width: 3.25rem;
  height: 3.25rem;
  min-height: 3.25rem;
  align-items: center;
  display: flex;
  justify-content: center;
  font-weight: bold;
  margin-right: 20px;
}

.main__store-info {
  margin-top: 20px;
  position: relative;
}

.main__store-button {
  padding: 5px;
  width: 100%;
  justify-content: center;
}

.main__store-initials {
  align-items: center;
  background-color: var(--color-base-white);
  border-radius: 50%;
  border: 1px solid var(--color-neutral-gray-dark);
  bottom: -160px;
  color: var(--color-neutral-gray-dark);
  display: flex;
  font-size: 1.5rem;
  font-weight: bold;
  height: 50px;
  justify-content: center;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  width: 50px;
}

.qrCard {
  align-items: center;
  border-radius: 6px;
  border: 3px dashed var(--color-neutral-gray-silver);
  box-sizing: border-box;
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 1rem 0;
  max-width: 90%;
  padding: 0.75rem 0.75rem 0.55rem;
  width: 100%;
}

.goal_chart_action {
  display: flex;
  justify-content: flex-end;
  align-items: end;
}

.goal_chart_action_button {
  margin-left: 10px;
  padding: 0.0667rem;
  color: var(--color-base-white);
  border-radius: 4px;
  cursor: pointer;
}
