.container {
    padding: 0 30px;
    width: 100%;
    max-width: 1366px;
    margin: auto;
    position: relative;
}

.quick-filters {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 0.625rem;
    justify-content: flex-start;
}

.container_query {
    width: 300px;
    margin:  0 10px 0 0;
}

.row_sales {
    gap: 20px;
    background-color: var(--color-neutral-gray-light);
    display: flex;
}

.title {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    font-size: var(--font-size-titles-3xs);
}

.card {
    border-radius: 8px;
    cursor: pointer;
    margin: 15px 0;
    max-height: 200px;
    min-height: 200px;
    padding: 0.75rem;
    background-color: var(--color-base-white);
    box-shadow: var(--box-shadow-sm, 0 1px 1px rgba(23, 43, 77, 0.2), 0 0 1px rgba(23, 43, 77, 0.2));
    transition: background-color 140ms ease-in-out 0s, color 140ms ease-in-out 0s;
}