.container {
    font-size: 16px;
    height: 100%;
    line-height: 1.15;
    overflow-y: auto;
    overflow-y: auto;
    padding: 16px 0px;
}

.header {
    display: flex;
    height: auto;
    justify-content: flex-end;
    min-height: auto;
    padding: 20px 6px 0;
    position: static;
    width: auto;
}