.main {
  display: grid;
  width: 100%;
  overflow: hidden;
  height: 100vh;
  grid-template-rows: 75px 2fr;
  grid-template-columns: 210px 1fr;
  grid-template-areas:
    "aside head head head"
    "aside main main right"
    "aside main main right";
  text-align: center;
  gap: 0.25rem 0;
  transition: grid-template-columns 0.3s ease;
}


.main_app_content::after {
  background: linear-gradient(to top, var(--color-base-white) 0%, transparent 100%);
  bottom: 0;
  content: '';
  height: 150px;
  pointer-events: none;
  position: absolute;
  width: calc(100% - 210px);
}

.collapsed_main {
  grid-template-columns: 35px 1fr;
}

.button_lateral_close {
  background-color: var(--color-base-transparent);
}

/* area_right_container */
.area_right_container {
  background-color: var(--color-neutral-gray-white);
}

@media (max-width: 960px) {
  .main {
    grid-template-columns: 0% auto 0% 0%;
  }
}

@media screen and (max-width: 960px) {
  .main_app_content {
    width: 100%;
  }
}

.noAside {
  display: flex;
  flex-direction: column;
  height: 100%;
}