.main {
  display: grid;
  width: 100%;
  overflow: hidden;
  height: 100vh;
  grid-template-rows: 75px 2fr;
  grid-template-columns: 210px 1fr;
  grid-template-areas:
    "aside head head head"
    "aside main main right"
    "aside main main right";
  text-align: center;
  gap: 0.25rem 0;
  transition: grid-template-columns 0.3s ease;
}

.main::-webkit-scrollbar {
  width: 6px;
}

.main::-webkit-scrollbar-track {
  background: transparent;
}

.main::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.1);
  border-radius: 4px;
}

.fade_main_button {
  position: fixed;
  right: 0;
  width: calc(100% - 210px);
  bottom: 0;
  z-index: var(--z-index-high);
}


.fade_main_button::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 150px;
  background: linear-gradient(to top, var(--color-base-white) 0%, transparent 100%);
  pointer-events: none;
}

.collapsed_main {
  grid-template-columns: 35px 1fr;
}

.button_lateral_close {
  background-color: var(--color-base-transparent);
}

/* area_right_container */
.area_right_container {
  background-color: var(--color-neutral-gray-white);
  scrollbar-color: var(--color-neutral-gray-light) transparent;
}

@media (max-width: 960px) {
  .main {
    grid-template-columns: 0% auto;
  }
}

@media screen and (max-width: 960px) {
  .fade_main_button {
    width: 100%;
  }
}

.noAside {
  display: flex;
  flex-direction: column;
  height: 100%;
}