.container {
    padding: 20px 20px 0 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content_products {
    border: 1px solid var(--color-neutral-gray-light);
    column-gap: 5px;
    display: grid;
    grid-column-gap: 5px;
    grid-row-gap: 60px;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    justify-content: center;
    max-height: calc(100vh - 310px);
    min-height: 300px;
    overflow-y: auto;
    padding-left: var(--spacing-2xl);
    row-gap: 60px;
    padding-top: var(--spacing-4xl);
}

.container_template {
    background-color: var(--color-background-gray-light);
    padding: var(--spacing-2xl);
    border-radius: var(--border-radius-sm);
}
.download_button {
    border: none;
    color: var(--color-text-black) !important;
    border: 1px solid var(--color-text-gray-light);
}