.container {
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
    justify-content: center;
}

.form_login {
    box-shadow: var(--box-shadow-2xs);
    border-radius: 8px;
    padding: 36px;
    display: flex;
    flex-direction: column;
    background-color: var(--color-base-white);
    box-shadow: var(--color-gradients-shimmer);
    position: relative;
    align-self: center;
    width: 500px;
}

.card {
    font-size: 16px;
    position: relative;
    justify-content: center;
    display: flex;
    width: 50%;
    height: 100vh;
}

.card::before {
    background-color: var(--color-primary-pink-light);
    border-radius: 0 100% 100%;
    bottom: -70px;
    content: "";
    opacity: 0.7;
    height: 130vw;
    left: 50%;
    min-height: 135vh;
    min-width: 130vh;
    position: absolute;
    transform: translate(-70%);
    width: 130vw;
    z-index: -1;
}

@media only screen and (min-width: 960px) {
    .card::before {
        right: 0;
        bottom: unset;
        left: auto;
        min-width: 130vh;
        min-height: 135vh;
        max-width: 80vw;
        max-height: 80vw;
        width: 80vw;
        height: 80vw;
        -webkit-transform: translate(15vw, -23%);
        transform: translate(15vw, -23%);
    }
}

@media only screen and (min-width: 960px) {
    .container {
        margin: 20px;
    }
}

@media only screen and (min-width: 960px) {
    .container {
        width: 100%;
        margin: auto;
        flex: wrap;
        width: 100%;
        margin: auto;
    }
}