/* components/order-header/order-header.module.css */
.header {
  padding: 18px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eef2f6;
}
.left {
  display:flex;
  flex-direction: column;
}
.title {
  font-size: 14px;
  color: #0b2545;
  margin: 0;
  font-weight: 600;
}
.id {
  margin-left: 8px;
  font-weight: 700;
}
.badge {
  padding: 6px 10px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 700;
}
.time {
  color: #6b7280;
  font-size: 13px;
}
.right {
}
